/* https://yarduon.com */
@keyframes typing {
  0%,
  100% {
    border-right-color: --icon-color;
  }

  50% {
    border-right-color: transparent;
  }
}

@keyframes blink {
  0%,
  90%,
  100% {
    background-color: --background-color;
  }

  85%,
  95% {
    background-color: transparent;
  }
}
