/* https://yarduon.com */
@keyframes typing {
  0% {
    border-right-color: --background-color;
  }

  50% {
    border-right-color: transparent;
  }

  100% {
    border-right-color: --background-color;
  }
}
