/* https://yarduon.com */
.hidden,
#switch-mode:checked ~ .buttons-container .function,
#switch-mode:checked ~ .buttons-container .operator,
#switch-mode:checked ~ .buttons-container .parenthesis {
  display: none;
}

.palette,
.font-families {
  width: 1000vh;
}

.calculator,
.line {
  width: 40vh;
}

.screen,
.logo-container {
  width: 29vh;
}

.settings,
.paint {
  width: 3.8vh;
  height: 3.8vh;
}

#square1,
#square2 {
  height: 210vh;
}

.fonts-container,
.colors-container {
  padding: 0.4vh 0 0.4vh 0;
}

#circle1,
#circle2 {
  margin-bottom: 17vh;
}

#circle2,
#circle3 {
  margin-left: 35vh;
}

#circle1,
#circle4 {
  margin-right: 35vh;
}

#circle3,
#circle4 {
  margin-top: 17vh;
}

#topScreen,
#result,
.font {
  font-size: 2.1vh;
}

.touch:hover,
.touch:focus {
  cursor: pointer;
  box-shadow: 0 0 0 0.25vh white;
}

.max-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.max-height {
  height: 100%;
}

.small-icon {
  width: 2.1vh;
}

.large-icon {
  width: 5.5vh;
}

.circle-shape {
  border-radius: 100%;
}

.invisible {
  opacity: 0;
}

.hidden-webstyles {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.overflow-hidden {
  overflow: hidden;
}

.black-background {
  background-color: #18191a;
}

.green-background {
  background-color: #3bd31d;
}

.red-background {
  background-color: #d41424;
}

.full-black-background {
  background-color: #000000;
}

.full-black-text {
  color: #000000;
}

.full-black-border-full {
  border: 0.8vh solid #000000;
}

.full-grey-background {
  background-color: rgb(61, 59, 57);
}

.full-grey-text {
  background-color: rgb(61, 59, 57);
}

.full-grey-border-full {
  background-color: rgb(61, 59, 57);
}

.full-grey-border-bottom {
  background-color: rgb(61, 59, 57);
}

.full-grey-border-right {
  background-color: rgb(61, 59, 57);
}

.full-white-background {
  background-color: rgb(231, 229, 229);
}

.full-white-text {
  color: rgb(233, 222, 222);
}

.full-white-border-full {
  border: 0.8vh solid rgb(233, 222, 222);
}

.full-white-border-bottom {
  border-bottom: 0.5vh solid rgb(233, 222, 222);
}

.full-white-border-right {
  border-right: 0.4vh solid #000000;
}

.full-orange-background {
  background-color: #ff4800;
}

.full-orange-text {
  color: #ff4800;
}

.full-orange-border-full {
  border: 0.8vh solid #ff4800;
}

.full-orange-border-bottom {
  border-bottom: 0.5vh solid #ff4800;
}

.full-orange-border-right {
  border-right: 0.4vh solid #ff4800;
}

.full-red-background {
  background-color: #f51b0b;
}

.full-red-text {
  color: #f51b0b;
}

.full-red-border-full {
  border: 0.8vh solid #f51b0b;
}

.full-red-border-bottom {
  border-bottom: 0.5vh solid #f51b0b;
}

.full-red-border-right {
  border-right: 0.4vh solid #f51b0b;
}

.full-blue-background {
  background-color: #1c11b8;
}

.full-blue-text {
  color: #1c11b8;
}

.full-blue-border-full {
  border: 0.8vh solid #1c11b8;
}

.full-blue-border-bottom {
  border-bottom: 0.5vh solid #1c11b8;
}

.full-blue-border-right {
  border-right: 0.4vh solid #1c11b8;
}

.full-brown-background {
  background-color: #532b0a;
}

.full-brown-text {
  color: #532b0a;
}

.full-brown-border-full {
  border: 0.8vh solid #532b0a;
}

.full-brown-border-bottom {
  border-bottom: 0.5vh solid #532b0a;
}

.full-brown-border-right {
  border-right: 0.4vh solid #532b0a;
}

.full-purple-background {
  background-color: #40124e;
}

.full-purple-text {
  color: #40124e;
}

.full-purple-border-full {
  border: 0.8vh solid #40124e;
}

.full-purple-border-bottom {
  border-bottom: 0.5vh solid #40124e;
}

.full-purple-border-right {
  border-right: 0.4vh solid #40124e;
}

.full-pink-background {
  background-color: #f110b9;
}

.full-pink-text {
  color: #f110b9;
}

.full-pink-border-full {
  border: 0.8vh solid #f110b9;
}

.full-pink-border-bottom {
  border-bottom: 0.5vh solid #f110b9;
}

.full-pink-border-right {
  border-right: 0.4vh solid #f110b9;
}

.full-yellow-background {
  background-color: #f7cb07;
}

.full-yellow-text {
  color: #f7cb07;
}

.full-yellow-border-full {
  border: 0.8vh solid #f7cb07;
}

.full-yellow-border-bottom {
  border-bottom: 0.5vh solid #f7cb07;
}

.full-yellow-border-right {
  border-right: 0.4vh solid #f7cb07;
}

.full-green-background {
  background-color: #0c530e;
}

.full-green-text {
  color: #0c530e;
}

.full-green-border-full {
  border: 0.8vh solid #0c530e;
}

.full-green-border-bottom {
  border-bottom: 0.5vh solid #0c530e;
}

.full-green-border-right {
  border-right: 0.4vh solid #0c530e;
}

.darker-grey-background {
  background-color: rgb(121, 118, 116);
}

.darker-grey-text {
  color: rgb(121, 118, 116);
}

.darker-grey-border-full {
  border: 0.8vh solid rgb(121, 118, 116);
}

.darker-grey-border-bottom {
  border-bottom: 0.5vh solid rgb(121, 118, 116);
}

.darker-grey-border-right {
  border-right: 0.4vh solid rgb(121, 118, 116);
}

.darker-orange-background {
  background-color: #d14d19;
}

.darker-orange-text {
  color: #d14d19;
}

.darker-orange-border-full {
  border: 0.8vh solid #d14d19;
}

.darker-orange-border-bottom {
  border-bottom: 0.5vh solid #d14d19;
}

.darker-orange-border-right {
  border-right: 0.4vh solid #d14d19;
}

.darker-red-background {
  background-color: #e62f22;
}

.darker-red-text {
  color: #e62f22;
}

.darker-red-border-full {
  border: 0.8vh solid #e62f22;
}

.darker-red-border-bottom {
  border-bottom: 0.5vh solid #e62f22;
}

.darker-red-border-right {
  border-right: 0.4vh solid #e62f22;
}

.darker-blue-background {
  background-color: #2516ff;
}

.darker-blue-text {
  color: #2516ff;
}

.darker-blue-border-full {
  border: 0.8vh solid #2516ff;
}

.darker-blue-border-bottom {
  border-bottom: 0.5vh solid #2516ff;
}

.darker-blue-border-right {
  border-right: 0.4vh solid #2516ff;
}

.darker-brown-background {
  background-color: #8a440b;
}

.darker-brown-text {
  color: #8a440b;
}

.darker-brown-border-full {
  border: 0.8vh solid #8a440b;
}

.darker-brown-border-bottom {
  border-bottom: 0.5vh solid #8a440b;
}

.darker-brown-border-right {
  border-right: 0.4vh solid #8a440b;
}

.darker-purple-background {
  background-color: #6c0b8a;
}

.darker-purple-text {
  color: #6c0b8a;
}

.darker-purple-border-full {
  border: 0.8vh solid #6c0b8a;
}

.darker-purple-border-bottom {
  border-bottom: 0.5vh solid #6c0b8a;
}

.darker-purple-border-right {
  border-right: 0.4vh solid #6c0b8a;
}

.darker-pink-background {
  background-color: #e42fb6;
}

.darker-pink-text {
  color: #e42fb6;
}

.darker-pink-border-full {
  border: 0.8vh solid #e42fb6;
}

.darker-pink-border-bottom {
  border-bottom: 0.5vh solid #e42fb6;
}

.darker-pink-border-right {
  border-right: 0.4vh solid #e42fb6;
}

.darker-yellow-background {
  background-color: #f5cd1d;
}

.darker-yellow-text {
  color: #f5cd1d;
}

.darker-yellow-border-full {
  border: 0.8vh solid #f5cd1d;
}

.darker-yellow-border-bottom {
  border-bottom: 0.5vh solid #f5cd1d;
}

.darker-yellow-border-right {
  border-right: 0.4vh solid #f5cd1d;
}

.darker-green-background {
  background-color: #07750b;
}

.darker-green-text {
  color: #07750b;
}

.darker-green-border-full {
  border: 0.8vh solid #07750b;
}

.darker-green-border-bottom {
  border-bottom: 0.5vh solid #07750b;
}

.darker-green-border-right {
  border-right: 0.4vh solid #07750b;
}

.normal-black-background {
  background-color: rgb(29, 28, 28);
}

.normal-black-text {
  color: rgb(29, 28, 28);
}

.normal-black-border-full {
  border: 0.8vh solid rgb(29, 28, 28);
}

.normal-black-border-bottom {
  border-bottom: 0.5vh solid rgb(29, 28, 28);
}

.normal-black-border-right {
  border-right: 0.4vh solid rgb(29, 28, 28);
}

.normal-grey-background {
  background-color: #978c8c;
}

.normal-grey-text {
  color: #978c8c;
}

.normal-grey-border-full {
  border: 0.8vh solid #978c8c;
}

.normal-grey-border-bottom {
  border-bottom: 0.5vh solid #978c8c;
}

.normal-grey-border-right {
  border-right: 0.4vh solid #978c8c;
}

.normal-orange-background {
  background-color: #e2612d;
}

.normal-orange-text {
  color: #e2612d;
}

.normal-orange-border-full {
  border: 0.8vh solid #e2612d;
}

.normal-orange-border-bottom {
  border-bottom: 0.5vh solid #e2612d;
}

.normal-orange-border-right {
  border-right: 0.4vh solid #e2612d;
}

.normal-red-background {
  background-color: #df493f;
}

.normal-red-text {
  color: #df493f;
}

.normal-red-border-full {
  border: 0.8vh solid #df493f;
}

.normal-red-border-bottom {
  border-bottom: 0.5vh solid #df493f;
}

.normal-red-border-right {
  border-right: 0.4vh solid #df493f;
}

.normal-blue-background {
  background-color: #284ce9;
}

.normal-blue-text {
  color: #284ce9;
}

.normal-blue-border-full {
  border: 0.8vh solid #284ce9;
}

.normal-blue-border-bottom {
  border-bottom: 0.5vh solid #284ce9;
}

.normal-blue-border-right {
  border-right: 0.4vh solid #284ce9;
}

.normal-brown-background {
  background-color: #a85f2f;
}

.normal-brown-text {
  color: #a85f2f;
}

.normal-brown-border-full {
  border: 0.8vh solid #a85f2f;
}

.normal-brown-border-bottom {
  border-bottom: 0.5vh solid #a85f2f;
}

.normal-brown-border-right {
  border-right: 0.4vh solid #a85f2f;
}

.normal-purple-background {
  background-color: #a026e7;
}

.normal-purple-text {
  color: #a026e7;
}

.normal-purple-border-full {
  border: 0.8vh solid #a026e7;
}

.normal-purple-border-bottom {
  border-bottom: 0.5vh solid #a026e7;
}

.normal-purple-border-right {
  border-right: 0.4vh solid #a026e7;
}

.normal-pink-background {
  background-color: #e959d6;
}

.normal-pink-text {
  color: #e959d6;
}

.normal-pink-border-full {
  border: 0.8vh solid #e959d6;
}

.normal-pink-border-bottom {
  border-bottom: 0.5vh solid #e959d6;
}

.normal-pink-border-right {
  border-right: 0.4vh solid #e959d6;
}

.normal-yellow-background {
  background-color: #ffdc40;
}

.normal-yellow-text {
  color: #ffdc40;
}

.normal-yellow-border-full {
  border: 0.8vh solid #ffdc40;
}

.normal-yellow-border-bottom {
  border-bottom: 0.5vh solid #ffdc40;
}

.normal-yellow-border-right {
  border-right: 0.4vh solid #ffdc40;
}

.normal-green-background {
  background-color: #238828;
}

.normal-green-text {
  color: #238828;
}

.normal-green-border-full {
  border: 0.8vh solid #238828;
}

.normal-green-border-bottom {
  border-bottom: 0.5vh solid #238828;
}

.normal-green-border-right {
  border-right: 0.4vh solid #238828;
}

.light-black-background {
  background-color: #292929;
}

.light-black-text {
  color: #292929;
}

.light-black-border-full {
  border: 0.8vh solid #292929;
}

.light-black-border-bottom {
  border-bottom: 0.5vh solid #292929;
}

.light-black-border-right {
  border-right: 0.4vh solid #292929;
}

.light-grey-background {
  background-color: #afaaaa;
}

.light-grey-text {
  color: #afaaaa;
}

.light-grey-border-full {
  border: 0.8vh solid #afaaaa;
}

.light-grey-border-bottom {
  border-bottom: 0.5vh solid #afaaaa;
}

.light-grey-border-right {
  border-right: 0.4vh solid #afaaaa;
}

.light-orange-background {
  background-color: #f0a85d;
}

.light-orange-text {
  color: #f0a85d;
}

.light-orange-border-full {
  border: 0.8vh solid #f0a85d;
}

.light-orange-border-bottom {
  border-bottom: 0.5vh solid #f0a85d;
}

.light-orange-border-right {
  border-right: 0.4vh solid #f0a85d;
}

.light-red-background {
  background-color: #f56067;
}

.light-red-text {
  color: #f56067;
}

.light-red-border-full {
  border: 0.8vh solid #f56067;
}

.light-red-border-bottom {
  border-bottom: 0.5vh solid #f56067;
}

.light-red-border-right {
  border-right: 0.4vh solid #f56067;
}

.light-blue-background {
  background-color: #3090b6;
}

.light-blue-text {
  color: #3090b6;
}

.light-blue-border-full {
  border: 0.8vh solid #3090b6;
}

.light-blue-border-bottom {
  border-bottom: 0.5vh solid #3090b6;
}

.light-blue-border-right {
  border-right: 0.4vh solid #3090b6;
}

.light-brown-background {
  background-color: #e28343;
}

.light-brown-text {
  color: #e28343;
}

.light-brown-border-full {
  border: 0.8vh solid #e28343;
}

.light-brown-border-bottom {
  border-bottom: 0.5vh solid #e28343;
}

.light-brown-border-right {
  border-right: 0.4vh solid #e28343;
}

.light-purple-background {
  background-color: #b26fda;
}

.light-purple-text {
  color: #b26fda;
}

.light-purple-border-full {
  border: 0.8vh solid #b26fda;
}

.light-purple-border-bottom {
  border-bottom: 0.5vh solid #b26fda;
}

.light-purple-border-right {
  border-right: 0.4vh solid #b26fda;
}

.light-pink-background {
  background-color: #ec8de0;
}

.light-pink-text {
  color: #ec8de0;
}

.light-pink-border-full {
  border: 0.8vh solid #ec8de0;
}

.light-pink-border-bottom {
  border-bottom: 0.5vh solid #ec8de0;
}

.light-pink-border-right {
  border-right: 0.4vh solid #ec8de0;
}

.light-yellow-background {
  background-color: #f8df6e;
}

.light-yellow-text {
  color: #f8df6e;
}

.light-yellow-border-full {
  border: 0.8vh solid #f8df6e;
}

.light-yellow-border-bottom {
  border-bottom: 0.5vh solid #f8df6e;
}

.light-yellow-border-right {
  border-right: 0.4vh solid #f8df6e;
}

.light-green-background {
  background-color: #2fd137;
}

.light-green-text {
  color: #2fd137;
}

.light-green-border-full {
  border: 0.8vh solid #2fd137;
}

.light-green-border-bottom {
  border-bottom: 0.5vh solid #2fd137;
}

.light-green-border-right {
  border-right: 0.4vh solid #2fd137;
}

.pastel-black-background {
  background-color: #494747;
}

.pastel-black-text {
  color: #494747;
}

.pastel-black-border-full {
  border: 0.8vh solid #494747;
}

.pastel-black-border-bottom {
  border-bottom: 0.5vh solid #494747;
}

.pastel-black-border-right {
  border-right: 0.4vh solid #494747;
}

.pastel-grey-background {
  background-color: #cfcfc4;
}

.pastel-grey-text {
  color: #cfcfc4;
}

.pastel-grey-border-full {
  border: 0.8vh solid #cfcfc4;
}

.pastel-grey-border-bottom {
  border-bottom: 0.5vh solid #cfcfc4;
}

.pastel-grey-border-right {
  border-right: 0.4vh solid #cfcfc4;
}

.pastel-white-background {
  background-color: rgb(255, 255, 255);
}

.pastel-white-text {
  color: rgb(255, 255, 255);
}

.pastel-white-border-full {
  border: 0.8vh solid rgb(255, 255, 255);
}

.pastel-white-border-bottom {
  border-bottom: 0.5vh solid rgb(255, 255, 255);
}

.pastel-white-border-right {
  border-right: 0.4vh solid rgb(255, 255, 255);
}

.pastel-orange-background {
  background-color: #ffb347;
}

.pastel-orange-text {
  color: #ffb347;
}

.pastel-orange-border-full {
  border: 0.8vh solid #ffb347;
}

.pastel-orange-border-bottom {
  border-bottom: 0.5vh solid #ffb347;
}

.pastel-orange-border-right {
  border-right: 0.4vh solid #ffb347;
}

.pastel-red-background {
  background-color: #f8847e;
}

.pastel-red-text {
  color: #f8847e;
}

.pastel-red-border-full {
  border: 0.8vh solid #f8847e;
}

.pastel-red-border-bottom {
  border-bottom: 0.5vh solid #f8847e;
}

.pastel-red-border-right {
  border-right: 0.4vh solid #f8847e;
}

.pastel-blue-background {
  background-color: #87b3c4;
}

.pastel-blue-text {
  color: #87b3c4;
}

.pastel-blue-border-full {
  border: 0.8vh solid #87b3c4;
}

.pastel-blue-border-bottom {
  border-bottom: 0.5vh solid #87b3c4;
}

.pastel-blue-border-right {
  border-right: 0.4vh solid #87b3c4;
}

.pastel-brown-background {
  background-color: #b88f7b;
}

.pastel-brown-text {
  color: #b88f7b;
}

.pastel-brown-border-full {
  border: 0.8vh solid #b88f7b;
}

.pastel-brown-border-bottom {
  border-bottom: 0.5vh solid #b88f7b;
}

.pastel-brown-border-right {
  border-right: 0.4vh solid #b88f7b;
}

.pastel-purple-background {
  background-color: #b19cd9;
}

.pastel-purple-text {
  color: #b19cd9;
}

.pastel-purple-border-full {
  border: 0.8vh solid #b19cd9;
}

.pastel-purple-border-bottom {
  border-bottom: 0.5vh solid #b19cd9;
}

.pastel-purple-border-right {
  border-right: 0.4vh solid #b19cd9;
}

.pastel-pink-background {
  background-color: #ffd1dc;
}

.pastel-pink-text {
  color: #ffd1dc;
}

.pastel-pink-border-full {
  border: 0.8vh solid #ffd1dc;
}

.pastel-pink-border-bottom {
  border-bottom: 0.5vh solid #ffd1dc;
}

.pastel-pink-border-right {
  border-right: 0.4vh solid #ffd1dc;
}

.pastel-yellow-background {
  background-color: #fdfd96;
}

.pastel-yellow-text {
  color: #fdfd96;
}

.pastel-yellow-border-full {
  border: 0.8vh solid #fdfd96;
}

.pastel-yellow-border-bottom {
  border-bottom: 0.5vh solid #fdfd96;
}

.pastel-yellow-border-right {
  border-right: 0.4vh solid #fdfd96;
}

.pastel-green-background {
  background-color: #77dd77;
}

.pastel-yellow-text {
  color: #77dd77;
}

.pastel-yellow-border-full {
  border: 0.8vh solid #77dd77;
}

.pastel-yellow-border-bottom {
  border-bottom: 0.5vh solid #77dd77;
}

.pastel-yellow-border-right {
  border-right: 0.4vh solid #77dd77;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.medium-text {
  font-size: 1.8vh;
}

.alatsi {
  font-family: Alatsi;
}

.chewy {
  font-family: Chewi;
}

.chivo {
  font-family: Chivo;
}

.comfortaa {
  font-family: Comfortaa;
}

.equQld {
  font-family: "Edu QLD";
}

.fredokaOne {
  font-family: "Fredoka One";
}

.gugi {
  font-family: Gugi;
}

.indieFlower {
  font-family: "Indie Flower";
}

.julee {
  font-family: Julee;
}

.lato {
  font-family: Lato;
}

.libreFranklin {
  font-family: "Libre Franklin";
}

.lobster {
  font-family: Lobster;
}

.londrinaSolid {
  font-family: "Londrina Solid";
}

.merriweather {
  font-family: Merriweather;
}

.nerkoOne {
  font-family: "Nerko One";
}

.oleoScript {
  font-family: "Oleo Script";
}

.openSans {
  font-family: "Open Sans";
}

.outfit {
  font-family: Opensans;
}

.patrickHand {
  font-family: "Patrick Hand";
}

.permanentMarker {
  font-family: "Permanent Marker";
}

.poorStory {
  font-family: "Poor Story";
}

.pressStart2P {
  font-family: "Press Start 2P";
}

.ptMono {
  font-family: PT Mono;
}

.ptSans {
  font-family: PT Sans;
}

.roboto {
  font-family: Roboto;
}

.rubik {
  font-family: Rubik;
}

.satisfy {
  font-family: Satisfy;
}

.signika {
  font-family: Signika;
}

.sourceCodePro {
  font-family: "Source Code Pro";
}

.twinkleStar {
  font-family: "Twinkle Star";
}

.ubuntu {
  font-family: Ubuntu;
}

.vt323 {
  font-family: VT323;
}

.top-calculator {
  height: 22vh;
}

.screw {
  width: 2.9vh;
  height: 2.9vh;
}

.screen {
  height: 14vh;
}

.operations-container {
  width: 92.5%;
  height: 3vh;
  margin: 0.6vh 0 0 0;
}

#topScreen {
  height: 2.6vh;
  padding: 0 0.2vh 0 0;
  animation: typing 1.5s steps(1) infinite;
}

.logo {
  font-size: 2.2vh;
}

.middle-base {
  height: 5vh;
  margin-top: -1.6vh;
}

.buttons-container {
  height: 54vh;
  margin-top: -0.8vh;
  padding: 1.2vh 1.2vh 6vh 1.2vh;
  font-size: 2.4vh;
}

.additional {
  width: 5.6vh;
  height: 3.6vh;
}

.main-button {
  width: 6.8vh;
  height: 6.8vh;
}

.lights-container {
  height: 5vh;
  margin-bottom: 1vh;
}

.off-on-light {
  width: 2vh;
  height: 1.5vh;
  margin-top: 1vh;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.round-border {
  border-radius: 0.2vh;
}

.round-border-full {
  border-radius: 1vh;
}

.power {
  width: 4.6vh;
  height: 4.6vh;
  margin: 0 0 41vh 32.2vh;
  padding: 0 0.1vh 0.2vh 0;
}

.special-buttons-container {
  width: 98.8%;
  margin-top: 0.6vh;
  height: 8.5vh;
}

#switch-mode:checked ~ .buttons-container .special-buttons-container {
  margin: 1.4vh 0 0 0;
  height: 3vh;
}

#switch-mode:checked ~ .buttons-container .symbols .button {
  margin-bottom: 0.65vh;
}

#switch-mode:checked ~ .buttons-container .extra-symbols {
  margin-top: 0.4vh;
}

.currencies-container {
  margin: 0.5vh 0 0vh 0;
}

.select {
  width: 98%;
  height: 4vh;
  margin: 0.8vh 0 0.7vh 0;
}

.symbols .button {
  margin: 0.3vh;
}

.extra-symbols {
  width: 12.5vh;
  margin: 0.5vh 0 0 24.8vh;
}

.qr {
  width: 7vh;
  height: 7vh;
}

.line {
  height: 5.3vh;
  padding: 0.7vh;
  border-bottom-left-radius: 1.3vh;
  border-bottom-right-radius: 1.3vh;
}

.footer-buttons {
  width: 8.5vh;
}

.switch-line {
  width: 7vh;
  height: 3.2vh;
}

.switch-circle {
  width: 1.8vh;
  height: 1.8vh;
  margin-bottom: 0.3vh;
}

#switch-mode:checked ~ .buttons-container .currencies-container {
  display: flex;
}

#square1 {
  width: 150vh;
  margin-right: 200vh;
  transform: rotate(150deg);
}

#square2 {
  width: 100vh;
  margin: 50vh 0 0 200vh;
  transform: rotate(65deg);
}

#square3 {
  width: 230vh;
  height: 100vh;
  margin: 0 0 70vh 60vh;
}

.font {
  margin: 0.5vh 2vh 0.5vh 2vh;
}

.color {
  width: 3.5vh;
  height: 3.5vh;
  margin: 0.2vh;
}

/* .palette{
  padding-left: .5vh;
  transition: .4s;
} */

/* .test{
  background-color: white;
  top: 0;
  height: 100%;
}

#forward{
  right: 0;
  z-index: 4;
}

#back{
  left: 0;
  z-index: 4;
} */
