/* https://yarduon.com */
.calculator,
.line {
  width: 40vh;
}

.screen,
.logo-container {
  width: 29vh;
}

#square1,
#square2 {
  height: 210vh;
}

#circle1,
#circle2 {
  margin-bottom: 17vh;
}

#circle2,
#circle3 {
  margin-left: 35vh;
}

#circle1,
#circle4 {
  margin-right: 35vh;
}

#circle3,
#circle4 {
  margin-top: 17vh;
}

#topScreen,
.buttons-container {
  font-size: 2.3vh;
}

.touch:hover,
.touch:focus {
  cursor: pointer;
  outline: 0.3vh solid white;
}

.max-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.medium-icon {
  width: 2.3vh;
}

.max-height {
  height: 100%;
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}
/**/
.darker-black-background {
  background-color: rgb(29, 28, 28);
}

.darker-black-text {
  color: rgb(29, 28, 28);
}

.darker-black-border-full {
  border: 0.8vh solid rgb(29, 28, 28);
}

.darker-black-border-bottom {
  border-bottom: 0.5vh solid rgb(29, 28, 28);
}

.darker-black-border-right {
  border-right: 0.4vh solid rgb(29, 28, 28);
}
/**/
.normal-black-background {
  background-color: #292929;
}

.normal-black-text {
  color: #292929;
}

.normal-black-border-bottom {
  border-bottom: 0.5vh solid #292929;
}

.normal-black-border-right {
  border-right: 0.4vh solid #292929;
}
/**/
.normal-grey-background {
  background-color: #444242;
}

.normal-grey-text {
  color: #444242;
}

.normal-grey-border-bottom {
  border-bottom: 0.5vh solid #444242;
}

.normal-grey-border-right {
  border-right: 0.4vh solid #444242;
}
/**/
.normal-white-background {
  background-color: whitesmoke;
}

.normal-white-text {
  color: whitesmoke;
}

.normal-white-border-bottom {
  border-bottom: 0.5vh solid whitesmoke;
}

.normal-white-border-right {
  border-right: 0.4vh solid whitesmoke;
}
/**/
.normal-orange-background {
  background-color: #e75d26;
}

.normal-red-background {
  background-color: #f21d28;
}

.normal-red-blue-background {
  background-color: #1d44f2;
}

.normal-brown-background {
  background-color: #a85f2f;
}

.normal-purple-background {
  background-color: #a026e7;
}

.normal-pink-background {
  background-color: #e60dc9;
}

.normal-yellow-background {
  background-color: #f2e41d;
}

.normal-green-background {
  background-color: #1df228;
}

.bold {
  font-weight: bold;
}

.medium-text {
  font-size: 1.8vh;
}

.round-border {
  border-radius: 1vh;
}

.alatsi {
  font-family: Alatsi;
}

.chivo {
  font-family: Chivo;
}

.lato {
  font-family: Lato;
}

.libreFranklin {
  font-family: "Libre Franklin";
}

.merriweather {
  font-family: Merriweather;
}

.openSans {
  font-family: "Open Sans";
}

.outfit {
  font-family: Opensans;
}

.ptSans {
  font-family: PT Sans;
}

.roboto {
  font-family: Roboto;
}

.rubik {
  font-family: Rubik;
}

.signika {
  font-family: Signika;
}

.ubuntu {
  font-family: Ubuntu;
}

.calculator {
  font-size: 3vh;
}

.top-calculator {
  height: 22vh;
}

.circle-shape {
  border-radius: 100%;
}

.screw {
  width: 2.9vh;
  height: 2.9vh;
}

.line {
  height: 3.6vh;
}

.screen {
  height: 14vh;
}

.container-operations {
  width: 94.9%;
  height: 4.2vh;
  margin: 0.4vh 0 0 0;
}

#topScreen {
  height: 2.8vh;
  padding: 0 0.2vh 0 0;
  animation: typing 1.5s steps(1) infinite;
}

#result {
  font-size: 2.3vh;
}

.logo {
  font-size: 2.2vh;
}

.middle-base {
  height: 5vh;
  margin-top: -1.6vh;
}

.buttons-container {
  margin-top: -0.8vh;
  padding: 1.2vh 1.2vh 6vh 1.2vh;
  gap: 1.2vh 0.5vh;
}

.off-on-light {
  width: 2vh;
  height: 1.5vh;
  margin-top: 1.2vh;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.power {
  width: 4.5vh;
  height: 4.5vh;
  margin: 0 0 41vh 32.2vh;
}

.main-button {
  width: 6vh;
  height: 6vh;
}

.additional {
  width: 5.4vh;
  height: 3.5vh;
}

.symbols {
  gap: 0.7vh 1.7vh;
}

#square1 {
  width: 150vh;
  margin-right: 200vh;
  transform: rotate(150deg);
}

#square2 {
  width: 100vh;
  margin: 50vh 0 0 200vh;
  transform: rotate(65deg);
}

#square3 {
  width: 230vh;
  height: 100vh;
  margin: 0 0 70vh 60vh;
}

.line {
  border-bottom-left-radius: 1.3vh;
  border-bottom-right-radius: 1.3vh;
}
