/* https://yarduon.com */
.hidden,
#switch-mode:checked ~ .function,
#switch-mode:checked ~ .symbols .operator,
#switch-mode:checked ~ .symbols .parenthesis {
  display: none;
}

.calculator,
.line {
  width: 40vh;
}

.screen,
.logo-container {
  width: 29vh;
}

#square1,
#square2 {
  height: 210vh;
}

#circle1,
#circle2 {
  margin-bottom: 17vh;
}

#circle2,
#circle3 {
  margin-left: 35vh;
}

#circle1,
#circle4 {
  margin-right: 35vh;
}

#circle3,
#circle4 {
  margin-top: 17vh;
}

#topScreen,
#result {
  font-size: 2.1vh;
}

.touch:hover,
.touch:focus {
  cursor: pointer;
  outline: 0.3vh solid white;
}

.max-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.max-height {
  height: 100%;
}

.medium-icon {
  width: 2.3vh;
}

.large-icon {
  width: 5.5vh;
}

.circle-shape {
  border-radius: 100%;
}

.invisible {
  opacity: 0;
}

.hidden-webstyles {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.overflow-hidden {
  overflow: hidden;
}

.darker-black-background {
  background-color: #0e0d0c;
}

.darker-black-text {
  color: #0e0d0c;
}

.darker-black-border-full {
  border: 0.8vh solid #0e0d0c;
}

.darker-black-border-bottom {
  border-bottom: 0.5vh solid #0e0d0c;
}

.darker-black-border-right {
  border-right: 0.4vh solid #0e0d0c;
}

.darker-grey-background {
  background-color: rgb(61, 56, 51);
}

.darker-grey-text {
  color: rgb(61, 56, 51);
}

.darker-grey-border-full {
  border: 0.8vh solid rgb(61, 56, 51);
}

.darker-grey-border-bottom {
  border-bottom: 0.5vh solid rgb(61, 56, 51);
}

.darker-grey-border-right {
  border-right: 0.4vh solid rgb(61, 56, 51);
}

.darker-white-background {
  background-color: rgb(231, 227, 222);
}

.darker-white-text {
  color: rgb(231, 227, 222);
}

.darker-white-border-full {
  border: 0.8vh solid rgb(231, 227, 222);
}

.darker-white-border-bottom {
  border-bottom: 0.5vh solid rgb(231, 227, 222);
}

.darker-white-border-right {
  border-right: 0.4vh solid rgb(231, 227, 222);
}

.darker-orange-background {
  background-color: #df4a0f;
}

.darker-orange-text {
  color: #df4a0f;
}

.darker-orange-border-full {
  border: 0.8vh solid #df4a0f;
}

.darker-orange-border-bottom {
  border-bottom: 0.5vh solid #df4a0f;
}

.darker-orange-border-right {
  border-right: 0.4vh solid #df4a0f;
}

.darker-red-background {
  background-color: #df1d0f;
}

.darker-red-text {
  color: #df1d0f;
}

.darker-red-border-full {
  border: 0.8vh solid #df1d0f;
}

.darker-red-border-bottom {
  border-bottom: 0.5vh solid #df1d0f;
}

.darker-red-border-right {
  border-right: 0.4vh solid #df1d0f;
}

.darker-blue-background {
  background-color: #1d0fdf;
}

.darker-blue-text {
  color: #1d0fdf;
}

.darker-blue-border-full {
  border: 0.8vh solid #1d0fdf;
}

.darker-blue-border-bottom {
  border-bottom: 0.5vh solid #1d0fdf;
}

.darker-blue-border-right {
  border-right: 0.4vh solid #1d0fdf;
}

.darker-brown-background {
  background-color: #8a440b;
}

.darker-brown-text {
  color: #8a440b;
}

.darker-brown-border-full {
  border: 0.8vh solid #8a440b;
}

.darker-brown-border-bottom {
  border-bottom: 0.5vh solid #8a440b;
}

.darker-brown-border-right {
  border-right: 0.4vh solid #8a440b;
}

.darker-purple-background {
  background-color: #6c0b8a;
}

.darker-purple-text {
  color: #6c0b8a;
}

.darker-purple-border-full {
  border: 0.8vh solid #6c0b8a;
}

.darker-purple-border-bottom {
  border-bottom: 0.5vh solid #6c0b8a;
}

.darker-purple-border-right {
  border-right: 0.4vh solid #6c0b8a;
}

.darker-pink-background {
  background-color: #e42fb6;
}

.darker-pink-text {
  color: #e42fb6;
}

.darker-pink-border-full {
  border: 0.8vh solid #e42fb6;
}

.darker-pink-border-bottom {
  border-bottom: 0.5vh solid #e42fb6;
}

.darker-pink-border-right {
  border-right: 0.4vh solid #e42fb6;
}

.darker-yellow-background {
  background-color: #f7cb07;
}

.darker-yellow-text {
  color: #f7cb07;
}

.darker-yellow-border-full {
  border: 0.8vh solid #f7cb07;
}

.darker-yellow-border-bottom {
  border-bottom: 0.5vh solid #f7cb07;
}

.darker-yellow-border-right {
  border-right: 0.4vh solid #f7cb07;
}

.darker-green-background {
  background-color: #0b8a11;
}

.darker-green-text {
  color: #0b8a11;
}

.darker-green-border-full {
  border: 0.8vh solid #0b8a11;
}

.darker-green-border-bottom {
  border-bottom: 0.5vh solid #0b8a11;
}

.darker-green-border-right {
  border-right: 0.4vh solid #0b8a11;
}

.normal-black-background {
  background-color: rgb(29, 28, 28);
}

.normal-black-text {
  color: rgb(29, 28, 28);
}

.normal-black-border-full {
  border: 0.8vh solid rgb(29, 28, 28);
}

.normal-black-border-bottom {
  border-bottom: 0.5vh solid rgb(29, 28, 28);
}

.normal-black-border-right {
  border-right: 0.4vh solid rgb(29, 28, 28);
}

.normal-grey-background {
  background-color: #444242;
}

.normal-grey-text {
  color: #444242;
}

.normal-grey-border-full {
  border: 0.8vh solid #444242;
}

.normal-grey-border-bottom {
  border-bottom: 0.5vh solid #444242;
}

.normal-grey-border-right {
  border-right: 0.4vh solid #444242;
}

.normal-white-background {
  background-color: rgb(245, 238, 238);
}

.normal-white-text {
  color: rgb(245, 238, 238);
}

.normal-white-border-full {
  border: 0.8vh solid rgb(245, 238, 238);
}

.normal-white-border-bottom {
  border-bottom: 0.5vh solid rgb(245, 238, 238);
}

.normal-white-border-right {
  border-right: 0.4vh solid rgb(245, 238, 238);
}

.normal-orange-background {
  background-color: #e75d26;
}

.normal-orange-text {
  color: #e75d26;
}

.normal-orange-border-full {
  border: 0.8vh solid #e75d26;
}

.normal-orange-border-bottom {
  border-bottom: 0.5vh solid #e75d26;
}

.normal-orange-border-right {
  border-right: 0.4vh solid #e75d26;
}

.normal-red-background {
  background-color: #f21d28;
}

.normal-red-text {
  color: #f21d28;
}

.normal-red-border-full {
  border: 0.8vh solid #f21d28;
}

.normal-red-border-bottom {
  border-bottom: 0.5vh solid #f21d28;
}

.normal-red-border-right {
  border-right: 0.4vh solid #f21d28;
}

.normal-blue-background {
  background-color: #1d44f2;
}

.normal-blue-text {
  color: #1d44f2;
}

.normal-blue-border-full {
  border: 0.8vh solid #1d44f2;
}

.normal-blue-border-bottom {
  border-bottom: 0.5vh solid #1d44f2;
}

.normal-blue-border-right {
  border-right: 0.4vh solid #1d44f2;
}

.normal-brown-background {
  background-color: #a85f2f;
}

.normal-brown-text {
  color: #a85f2f;
}

.normal-brown-border-full {
  border: 0.8vh solid #a85f2f;
}

.normal-brown-border-bottom {
  border-bottom: 0.5vh solid #a85f2f;
}

.normal-brown-border-right {
  border-right: 0.4vh solid #a85f2f;
}

.normal-purple-background {
  background-color: #a026e7;
}

.normal-purple-text {
  color: #a026e7;
}

.normal-purple-border-full {
  border: 0.8vh solid #a026e7;
}

.normal-purple-border-bottom {
  border-bottom: 0.5vh solid #a026e7;
}

.normal-purple-border-right {
  border-right: 0.4vh solid #a026e7;
}

.normal-pink-background {
  background-color: #e959d6;
}

.normal-pink-text {
  color: #e959d6;
}

.normal-pink-border-full {
  border: 0.8vh solid #e959d6;
}

.normal-pink-border-bottom {
  border-bottom: 0.5vh solid #e959d6;
}

.normal-pink-border-right {
  border-right: 0.4vh solid #e959d6;
}

.normal-yellow-background {
  background-color: #f2e41d;
}

.normal-yellow-text {
  color: #f2e41d;
}

.normal-yellow-border-full {
  border: 0.8vh solid #f2e41d;
}

.normal-yellow-border-bottom {
  border-bottom: 0.5vh solid #f2e41d;
}

.normal-yellow-border-right {
  border-right: 0.4vh solid #f2e41d;
}

.normal-green-background {
  background-color: #1df228;
}

.normal-green-text {
  color: #1df228;
}

.normal-green-border-full {
  border: 0.8vh solid #1df228;
}

.normal-green-border-bottom {
  border-bottom: 0.5vh solid #1df228;
}

.normal-green-border-right {
  border-right: 0.4vh solid #1df228;
}

.light-black-background {
  background-color: #292929;
}

.light-black-text {
  color: #292929;
}

.light-black-border-full {
  border: 0.8vh solid #292929;
}

.light-black-border-bottom {
  border-bottom: 0.5vh solid #292929;
}

.light-black-border-right {
  border-right: 0.4vh solid #292929;
}

.light-grey-background {
  background-color: #cfcfc4;
}

.light-grey-text {
  color: #cfcfc4;
}

.light-grey-border-full {
  border: 0.8vh solid #cfcfc4;
}

.light-grey-border-bottom {
  border-bottom: 0.5vh solid #cfcfc4;
}

.light-grey-border-right {
  border-right: 0.4vh solid #cfcfc4;
}

.light-white-background {
  background-color: rgb(255, 255, 255);
}

.light-white-text {
  color: rgb(255, 255, 255);
}

.light-white-border-full {
  border: 0.8vh solid rgb(255, 255, 255);
}

.light-white-border-bottom {
  border-bottom: 0.5vh solid rgb(255, 255, 255);
}

.light-white-border-right {
  border-right: 0.4vh solid rgb(255, 255, 255);
}

.light-orange-background {
  background-color: #ffb347;
}

.light-orange-text {
  color: #ffb347;
}

.light-orange-border-full {
  border: 0.8vh solid #ffb347;
}

.light-orange-border-bottom {
  border-bottom: 0.5vh solid #ffb347;
}

.light-orange-border-right {
  border-right: 0.4vh solid #ffb347;
}

.light-red-background {
  background-color: #ff6961;
}

.light-red-text {
  color: #ff6961;
}

.light-red-border-full {
  border: 0.8vh solid #ff6961;
}

.light-red-border-bottom {
  border-bottom: 0.5vh solid #ff6961;
}

.light-red-border-right {
  border-right: 0.4vh solid #ff6961;
}

.light-blue-background {
  background-color: #aec6cf;
}

.light-blue-text {
  color: #aec6cf;
}

.light-blue-border-full {
  border: 0.8vh solid #aec6cf;
}

.light-blue-border-bottom {
  border-bottom: 0.5vh solid #aec6cf;
}

.light-blue-border-right {
  border-right: 0.4vh solid #aec6cf;
}

.light-brown-background {
  background-color: #b1907f;
}

.light-brown-text {
  color: #b1907f;
}

.light-brown-border-full {
  border: 0.8vh solid #b1907f;
}

.light-brown-border-bottom {
  border-bottom: 0.5vh solid #b1907f;
}

.light-brown-border-right {
  border-right: 0.4vh solid #b1907f;
}

.light-purple-background {
  background-color: #b19cd9;
}

.light-purple-text {
  color: #b19cd9;
}

.light-purple-border-full {
  border: 0.8vh solid #b19cd9;
}

.light-purple-border-bottom {
  border-bottom: 0.5vh solid #b19cd9;
}

.light-purple-border-right {
  border-right: 0.4vh solid #b19cd9;
}

.light-pink-background {
  background-color: #ffd1dc;
}

.light-pink-text {
  color: #ffd1dc;
}

.light-pink-border-full {
  border: 0.8vh solid #ffd1dc;
}

.light-pink-border-bottom {
  border-bottom: 0.5vh solid #ffd1dc;
}

.light-pink-border-right {
  border-right: 0.4vh solid #ffd1dc;
}

.light-yellow-background {
  background-color: #fdfd96;
}

.light-yellow-text {
  color: #fdfd96;
}

.light-yellow-border-full {
  border: 0.8vh solid #fdfd96;
}

.light-yellow-border-bottom {
  border-bottom: 0.5vh solid #fdfd96;
}

.light-yellow-border-right {
  border-right: 0.4vh solid #fdfd96;
}

.light-green-background {
  background-color: #77dd77;
}

.light-yellow-text {
  color: #77dd77;
}

.light-yellow-border-full {
  border: 0.8vh solid #77dd77;
}

.light-yellow-border-bottom {
  border-bottom: 0.5vh solid #77dd77;
}

.light-yellow-border-right {
  border-right: 0.4vh solid #77dd77;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.medium-text {
  font-size: 1.8vh;
}

.round-border {
  border-radius: 1vh;
}

.alatsi {
  font-family: Alatsi;
}

.chivo {
  font-family: Chivo;
}

.lato {
  font-family: Lato;
}

.libreFranklin {
  font-family: "Libre Franklin";
}

.merriweather {
  font-family: Merriweather;
}

.openSans {
  font-family: "Open Sans";
}

.outfit {
  font-family: Opensans;
}

.ptSans {
  font-family: PT Sans;
}

.roboto {
  font-family: Roboto;
}

.rubik {
  font-family: Rubik;
}

.signika {
  font-family: Signika;
}

.ubuntu {
  font-family: Ubuntu;
}

.calculator {
  font-size: 3vh;
}

.top-calculator {
  height: 22vh;
}

.screw {
  width: 2.9vh;
  height: 2.9vh;
}

.screen {
  height: 14vh;
}

.container-operations {
  width: 92.5%;
  height: 3vh;
  margin: 0.6vh 0 0 0;
}

#topScreen {
  height: 2.6vh;
  padding: 0 0.2vh 0 0;
  animation: typing 1.5s steps(1) infinite;
}

.logo {
  font-size: 2.2vh;
}

.middle-base {
  height: 5vh;
  margin-top: -1.6vh;
}

.buttons-container {
  height: 54vh;
  margin-top: -0.8vh;
  padding: 1.2vh 1.2vh 6vh 1.2vh;
  font-size: 2.3vh;
}

.off-on-light {
  width: 2vh;
  height: 1.5vh;
  margin-top: 1.2vh;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.switch-mode-container {
  height: 2vh;
}

.switch-line {
  width: 7vh;
  height: 3.2vh;
}

.switch-circle {
  width: 1.8vh;
  height: 1.8vh;
  margin-bottom: 0.3vh;
}

#switch-mode:checked ~ .container-currencies {
  display: flex;
}

.power {
  width: 4.6vh;
  height: 4.6vh;
  margin: 0 0 41vh 32.2vh;
}

.container-currencies {
  height: 9vh;
}

.select {
  height: 3.7vh;
}

.additional {
  width: 5.4vh;
  height: 3.5vh;
  margin: 0.5vh 0.4vh 0.5vh 0.4vh;
}

.main-button {
  width: 6vh;
  height: 6vh;
}

.symbols .button {
  margin: 0.5vh 0.4vh 0.5vh 0.4vh;
}

.qr {
  width: 7vh;
  height: 7vh;
}

.line {
  height: 3.6vh;
  border-bottom-left-radius: 1.3vh;
  border-bottom-right-radius: 1.3vh;
}

#square1 {
  width: 150vh;
  margin-right: 200vh;
  transform: rotate(150deg);
}

#square2 {
  width: 100vh;
  margin: 50vh 0 0 200vh;
  transform: rotate(65deg);
}

#square3 {
  width: 230vh;
  height: 100vh;
  margin: 0 0 70vh 60vh;
}
