.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.off {
  bottom: 0.6vh;
  right: 1.2vh;
}

#circle1,
#circle2 {
  top: 13.5vh;
}

#circle3,
#circle4 {
  top: 28.5vh;
}

#circle1 {
  left: 85vh;
}

#circle2 {
  top: 13.5vh;
  right: 85vh;
}

#circle3 {
  left: 85vh;
}

#circle4 {
  right: 85vh;
}

.line{
    top: 88vh;
}

.secondary {
  right: 0.7vh;
}
