.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.self-flex-start {
  align-self: flex-start;
}

.self-flex-end {
  align-self: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.logo {
  bottom: 72.6vh;
}

#result {
  top: 2vh;
  right: 0.4vh;
}

.off-on {
  right: 1.2vh;
}

.line {
  top: 87.7vh;
}

.secondary {
  right: 0.7vh;
}

.calculator{
  z-index: 3;
}

.top-calculator, #square1, #square2 {
  z-index: 1;
}

#square1{
  z-index: 2;
}
