/* https://yarduon.com */
@media screen and (max-width: 132vh) {
  .qr-options,
  .settings-options,
  .qr-result-container {
    flex-direction: column;
  }

  .qr-result,
  .result-options-container {
    width: 37vh;
  }

  .palette,
  .font-families {
    height: 5.7vh;
  }

  .hidden-t {
    display: none;
  }

  .semi-max-icon {
    width: 6vh;
  }

  .huge-icon {
    width: 8vh;
  }

  .arrow {
    width: 6.5vh;
  }

  .arrow .small-icon {
    width: 2.4vh;
  }

  .tab-minimize {
    z-index: 5;
  }

  .tab-modify {
    left: initial;
    margin-right: 6vh;
    right: 0;
    border-top-right-radius: 0;
  }

  .tab-modify .medium-icon {
    margin-bottom: 0.3vh;
  }

  .tab-modify .semi-large-icon {
    margin-bottom: 0.5vh;
  }

  .tab-confirm {
    margin-right: 25vh;
  }

  .palette {
    padding-left: 6vh;
  }

  .font-families {
    padding-left: 4.5vh;
  }

  .qr-icon {
    margin: 6vh 0 6vh 0;
    width: 30vh;
    height: 28vh;
  }

  .result-options-container {
    justify-content: flex-end;
  }

  .qr-result {
    height: 18vh;
  }

  .sub-qr-icon {
    width: 10vh;
    height: 10vh;
    margin: 0vh 1vh 0vh 1vh;
  }

  .sub-qr-icon:nth-child(2) {
    margin-right: 0;
  }

  .settings-options {
    margin-bottom: 4vh;
  }

  .settings-icon {
    width: 20vh;
    height: 20vh;
    margin: 4vh 0 4vh 0;
  }

  .background-icon {
    width: 15vh;
    height: 15vh;
    margin: 3vh 4vh 3vh 4vh;
  }

  .credits {
    top: 0;
    left: 0;
    margin: 1.5vh 0 0 1.5vh;
  }

  .credits span:nth-of-type(2) {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 60vh) {
  .top-calculator,
  .line {
    border-radius: 0;
  }

  #topScreen,
  #result,
  .logo,
  .font {
    font-size: 2.6vh;
  }

  .calc,
  .line {
    width: 100%;
  }

  .screen,
  .logo-container {
    width: 77%;
  }

  .settings,
  .edit {
    width: 5vh;
  }

  .off-on-light {
    width: 2.5vh;
  }

  .calc,
  #switch-mode:checked ~ .buttons-container .additional,
  .extra-symbols .additional {
    height: 100%;
  }

  .lights-container,
  .power {
    height: 6vh;
  }

  .settings,
  .edit,
  .select {
    height: 5vh;
  }

  #switch-mode:checked ~ .buttons-container .special-buttons-container,
  .select {
    margin: 0.5vh 0 0.5vh 0;
  }

  .symbols .button {
    margin: 0.41vh;
  }

  .alatsi,
  .chivo,
  .comfortaa,
  .fredoka-one,
  .gugi,
  .pt-mono,
  .source-code-pro {
    --normal-text: 2.2vh;
  }

  .chewy,
  .lobster,
  .open-sans,
  .rubik {
    --normal-text: 2.3vh;
  }

  .julee,
  .lato,
  .roboto,
  .ubuntu {
    --normal-text: 2.4vh;
  }

  .londrina-solid,
  .oleo-script,
  .permanent-marker,
  .pt-sans,
  .signika {
    --normal-text: 2.6vh;
  }

  .pt-sans #result {
    margin-top: 3.6vh;
  }

  .outfit #result,
  .signika #result {
    margin-top: 3.8vh;
  }

  .chewy #result,
  .lobster #result,
  .londrina-solid #result {
    margin-top: 3.9vh;
  }

  .chivo #result,
  .rubik #result,
  .source-code-pro #result {
    margin-top: 4.1vh;
  }

  .fredoka-one #result,
  .merriweather #result {
    margin-top: 4.2vh;
  }

  .comfortaa #result,
  .libre-franklin #result,
  .pt-mono #result {
    margin-top: 4.3vh;
  }

  .upper-buttons,
  .lower-buttons {
    margin: 1% 0 1% 0;
  }

  .hidden-m {
    display: none;
  }

  .small-icon {
    width: 4.5vw;
  }

  .large-icon {
    width: 8vw;
  }

  .medium-text {
    font-size: 3.5vw;
  }

  .semi-normal-text {
    font-size: 2vh;
  }

  .top-calculator {
    height: 27vh;
  }

  .screw {
    width: 3.2vh;
    height: 3.2vh;
  }

  .screen {
    height: 20vh;
  }

  #result {
    margin-top: 17%;
  }

  .logo-container {
    height: 5vh;
    bottom: 12.8%;
  }

  .middle-base {
    height: 5%;
    margin-top: -2.5vh;
  }

  .buttons-container {
    height: 63%;
    font-size: 4.8vw;
  }

  #switch-mode:checked ~ .buttons-container {
    padding-bottom: 16vh;
  }

  .off-on-light {
    height: 3vw;
    border-top-right-radius: 0.2vh;
    border-bottom-right-radius: 0.2vh;
  }

  .power {
    width: 10.5vw;
    height: 10.5vw;
  }

  .special-buttons-container {
    height: 18vw;
  }

  .additional {
    width: 15.5%;
    height: 42%;
  }

  .currencies-container {
    margin-top: 0.4vh;
  }

  .symbols {
    width: 95vw;
  }

  .main-button {
    width: 17vw;
    height: 13vw;
  }

  #switch-mode:checked ~ .buttons-container .main-button {
    height: 59%;
  }

  #switch-mode:checked ~ .buttons-container .dot {
    left: 60%;
  }

  .lower-buttons {
    margin-bottom: 1.2vh;
  }

  .extra-symbols {
    width: 40vw;
    height: 7.5vw;
  }

  .extra-symbols .additional {
    width: 47%;
  }

  .qr {
    width: 12vw;
    height: 12vw;
  }

  .line {
    height: 8vh;
  }

  .footer-buttons {
    width: 11.2vh;
  }

  .switch-line {
    width: 9vh;
    height: 4.5vh;
  }

  .switch-circle {
    width: 2.4vh;
    height: 2.4vh;
    left: 0.8vh;
  }

  #switch-mode:checked ~ .line .switch-circle {
    left: 5.8vh;
  }

  .container-open-tabs {
    justify-content: center;
  }

  .open-tabs {
    border-top-right-radius: 1.5vh;
  }
}
