/* https://yarduon.com */
@media screen and (max-width: 132vh) {
  .qr-options,
  .settings-options,
  .qr-result-container {
    flex-direction: column;
  }

  .qr-result,
  .result-options-container {
    width: 37vh;
  }

  .palette,
  .font-families {
    height: 5.7vh;
  }

  .hidden-t {
    display: none;
  }

  .semi-max-icon {
    width: 6vh;
  }

  .huge-icon {
    width: 8vh;
  }

  .small-text {
    font-size: 1.5vh;
  }

  .semi-normal-text {
    font-size: 1.6vh;
  }

  .arrow {
    width: 6.5vh;
  }

  .arrow .small-icon {
    width: 2.4vh;
  }

  .tab-minimize {
    z-index: 5;
  }

  .tab-modify {
    left: initial;
    margin-right: 6vh;
    right: 0;
    border-top-right-radius: 0;
  }

  .tab-modify .medium-icon {
    margin-bottom: 0.3vh;
  }

  .tab-modify .semi-large-icon {
    margin-bottom: 0.5vh;
  }

  .tab-confirm {
    margin-right: 25vh;
  }

  .palette {
    padding-left: 6vh;
  }

  .font-families {
    padding-left: 4.5vh;
  }

  .font {
    font-size: 2vh;
  }

  .qr-icon {
    margin: 5vh 0 5vh 0;
    width: 25vh;
    height: 24vh;
  }

  .result-options-container {
    justify-content: flex-end;
  }

  .qr-result {
    height: 18vh;
  }

  .sub-qr-icon {
    width: 10vh;
    height: 10vh;
    margin: 0vh 1vh 0vh 1vh;
  }

  .sub-qr-icon:nth-child(2) {
    margin-right: 0;
  }

  .settings-options {
    margin-bottom: 4vh;
  }

  .settings-icon {
    width: 20vh;
    height: 20vh;
    margin: 4vh 0 4vh 0;
  }

  .background-icon {
    width: 15vh;
    height: 15vh;
    margin: 3vh 4vh 3vh 4vh;
  }

  .credits {
    top: 0;
    left: 0;
    margin: 1.5vh 0 0 1.5vh;
  }
}

@media screen and (max-width: 65vh) {
  .top-calculator,
  .line {
    border-radius: 0;
  }

  #topScreen {
    font-size: 2.6vh;
  }

  .calc,
  .line,
  .symbols {
    width: 100%;
  }

  .screen,
  .logo-container {
    width: 77%;
  }

  .settings,
  .edit {
    width: 4.5vh;
  }

  .off-on-light {
    width: 2.5vh;
  }

  .calc,
  #switch-mode:checked ~ .buttons-container .additional,
  .extra-symbols .additional {
    height: 100%;
  }

  .main-button,
  .font-families {
    height: 7.5vh;
  }

  .settings,
  .edit,
  .select {
    height: 4.5vh;
  }

  .comfortaa #result,
  .pt-mono #result {
    margin-top: 6.7vh;
  }

  .chivo #result,
  .libre-franklin #result {
    margin-top: 6.5vh;
  }

  .alatsi #result,
  .fredoka-one #result,
  .gugi #result {
    margin-top: 6.4vh;
  }

  .julee #result,
  .lato #result,
  .lobster #result {
    margin-top: 6.3vh;
  }

  .londrina-solid #result,
  .outfit #result {
    margin-top: 6.2vh;
  }

  .open-sans #result,
  .signika #result {
    margin-top: 6vh;
  }

  .symbols .button {
    margin: 0.41vh;
  }

  #switch-mode:checked ~ .buttons-container .special-buttons-container,
  .select {
    margin: 0.5vh 0 0.5vh 0;
  }

  .fredoka-one .logo,
  .merriweather .logo,
  .pt-mono .logo {
    margin-bottom: 0.2vh;
  }

  .roboto .logo,
  .rubik .logo,
  .ubuntu .logo {
    margin-bottom: 0.1vh;
  }

  .upper-buttons,
  .lower-buttons {
    margin: 0 0 0 0;
  }

  .comfortaa,
  .fredoka-one,
  .gugi,
  .libre-franklin,
  .permanent-marker {
    --medium-text: 1.8vh;
  }

  .alatsi,
  .chivo,
  .comfortaa,
  .fredoka-one,
  .gugi,
  .pt-mono,
  .source-code-pro {
    --normal-text: 2.5vh;
  }

  .chewy,
  .lobster,
  .open-sans,
  .rubik {
    --normal-text: 2.6vh;
  }

  .julee,
  .lato,
  .roboto,
  .ubuntu {
    --normal-text: 2.7vh;
  }

  .londrina-solid,
  .oleo-script,
  .permanent-marker,
  .pt-sans,
  .signika {
    --normal-text: 2.8vh;
  }

  .chivo,
  .fredoka-one,
  .libre-franklin,
  .rubik {
    --large-text: 2.4vh;
  }

  .comfortaa,
  .julee,
  .pt-mono,
  .ubuntu {
    --large-text: 2.5vh;
  }

  .hidden-m {
    display: none;
  }

  .medium-icon {
    width: 3vh;
  }

  .small-icon {
    width: 4.7vw;
  }

  .large-icon {
    width: 9vw;
  }

  .libre-franklin {
    --normal-text: 2.4vh;
  }

  .merriweather {
    --normal-text: 2.3vh;
  }

  .outfit {
    --normal-text: 2.9vh;
  }

  .gugi {
    --large-text: 2.3vh;
  }

  .source-code-pro {
    --large-text: 2.2vh;
  }

  .top-calculator {
    height: 27vh;
  }

  .screw {
    width: 3.2vh;
    height: 3.2vh;
  }

  .screen {
    height: 20vh;
  }

  .chewy #result {
    margin-top: 6.1vh;
  }

  .merriweather #result {
    margin-top: 6.6vh;
  }

  .oleo-script #result {
    margin-top: 5.8vh;
  }

  .permanent-marker #result {
    margin-top: 5.5vh;
  }

  .pt-sans #result {
    margin-top: 5.9vh;
  }

  .logo-container {
    height: 5vh;
    bottom: 12.8%;
  }

  .chewy .logo {
    margin-bottom: 0.3vh;
  }

  .gugi .logo {
    margin-bottom: 0.4vh;
  }

  .comfortaa .logo {
    margin-bottom: 0.5vh;
  }

  .middle-base {
    height: 5%;
    margin-top: -2.5vh;
  }

  .buttons-container {
    height: 65%;
    font-size: 4.8vw;
  }

  .upper-buttons {
    height: 11vh;
  }

  .lights-container {
    height: 6.5vh;
  }

  .off-on-light {
    height: 3.5vw;
    border-top-right-radius: 0.2vh;
    border-bottom-right-radius: 0.2vh;
  }

  .power {
    width: 11vw;
    height: 11vw;
  }

  .main-button {
    width: 18%;
  }

  .special-buttons-container {
    height: 18vw;
  }

  .additional {
    width: 15.5%;
    height: 42%;
  }

  .currencies-container {
    margin-top: 0.4vh;
  }

  #switch-mode:checked ~ .buttons-container .general-buttons {
    margin-top: 1vh;
  }

  #switch-mode:checked ~ .buttons-container .dot {
    left: 60.4%;
  }

  .lower-buttons {
    margin-bottom: 2vh;
  }

  .extra-symbols {
    width: 43vw;
    height: 9vw;
  }

  .extra-symbols .additional {
    width: 47%;
  }

  .qr {
    width: 12.5vw;
    height: 12.5vw;
  }

  .line {
    height: 6vh;
  }

  .footer-buttons {
    width: 10.2vh;
  }

  .switch-line {
    width: 9vh;
    height: 4vh;
  }

  .switch-circle {
    width: 2.4vh;
    height: 2.4vh;
    left: 0.8vh;
  }

  #switch-mode:checked ~ .line .switch-circle {
    left: 5.8vh;
  }

  .open-tabs {
    right: initial;
    height: 5.2vh;
    border-top-right-radius: 1.5vh;
  }

  .settings-options {
    margin-bottom: 7vh;
  }
}
